/* Comment: Ari Rantalan tyylit mm.
   - kurssikuvausdokumentteja
   - oppaita
   varten    */


body {
font-family: 'Open Sans', sans-serif;
        font-size: 100%;
/*background: #f1f1f1;*/
color: Black;
margin: 0;
padding: 0;
}

#container {
background-color: #ffffff;
color: #000000;
margin-top: 10px;
margin-bottom: 10px;
width: 96%;
max-width: 1024px;
margin: auto;
padding: 0;

}

#innercontainer {
background-color: #ffffff;
color: #000000;
margin-left: +6%;
margin-right:+6%;
padding: 0;
}

table, tr, td {
margin-left: 0.0em;
}

blockquote
{
padding-left: 1.5em;
margin-left: 4em;
margin-top: 3em;
margin-bottom: 3em;
border-left: 4px solid #8cacbb;
color: #76797c;
}


code
{
font-family: "Courier New",Courier,monospace;
font-size: 110%;
color: Black;
background-color: #f1f1f1;
padding: 0 0.1em;
}

pre
{
font-size: 100%;
padding: 1em;
border: 1px dashed #2f6fab;
border-left: 5px solid #3f87a6;
color: black;
background-color: #f2f2f2;
overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    background: #ffffff none;
    font-weight: normal;
    margin: 0;
    padding-top: .17em;
    padding-bottom: .17em;
    border-top: 1px solid #aaa;
}

h1 {font-size: 188%;
   /*background: #f7f7f7 none;*/
   margin-left: -2%;
   margin-top: .27em;
   margin-bottom: .77em;
   padding-bottom: 20px;
    padding-left: .16em;
   font-weight: 300;
   line-height: 1.2;

}

h2 { font-size: 150%;
   background: #ddd none;
   margin-left: -2%;
   margin-top: .27em;
   margin-bottom: .17em;
    padding-left: .16em;
   font-weight: 300;
   line-height: 1.2;
   border-bottom: none;
}

h3 {
    display: inline;
    border-bottom: none;
    border-top: none;
    /*border: 2px solid #555;*/
    padding-top: .16em;
    padding-bottom: .16em;
    padding-left: 1.76em;
    padding-right: .36em;
    font-family: serif;
    font-weight: 400;
    color: #fff;
    background-color: #444;
    margin-left: 10px;

}

h4, h5, h6 {
    display: inline;
    padding-top: .02em;
    padding-bottom: .02em;
    padding-left: .33em;
    padding-right: .13em;
    /*background-color: #eee;
    border-bottom: 1px solid #1a1a1a;*/
    border-top: none;
    border-left: 1px solid #555;
    border-bottom: 1px solid #555;
    font-weight: 800;
    margin-left: 20px;
}


h3 { font-size: 132%; }
h4 { font-size: 105%; }
h5 { font-size: 100%; }
h6 { font-size: 80%;  }

.hoo2, .hoo3{
  margin-top: 2.0em;
  margin-bottom: 2.0em;
}

.hoo4 {
  margin-top: 1.0em;
  margin-bottom: 1.5em;
}


p {margin-top: 0.75em;line-height: 1.5em;}

.omaots
{
font-size: 100%;
color: black;
background: #ffeedd none;
margin-top: 0.0em;
margin-bottom: 0.5em;
}

.intro
{
font-size : 90%;
margin-left : 3em;
margin-right: 1em;
border : solid black 0.06em;
padding : 0.6ex;
background: #ffffcc none;
}

.codebox
{
margin: 5px 5px;
padding: 10px;
background-color: #FFFAF0;
border:1px dashed #d6cfb5;
overflow: auto;
}



.tablecell
{
font-size : 100%;
margin-left : 1em;
margin-right: 1em;
margin-top : 1em;
border : solid black 0.02em;
padding : 0.6ex;
background: #ffffff;
}

ul
{
line-height: 1.3em;
margin: 0.1em 0 0.7em 1.5em;
padding: 0;
list-style-image: url(http://netisto.fi/bullet.gif);
list-style-type: square;
}

ol
{
line-height: 1.5em;
margin: 0.5em 0 0 2.5em;
padding: 0;
list-style-image: none;
}

li {margin-bottom: 0.9em;}
dt {font-weight: bold;}
dd {line-height: 1.5em;margin-bottom: 1em;}


a:link
{
color: #0000ff;
background: transparent;
}

a:visited
{
color: #660099;
background: transparent ;
}

a:hover
{
color : #ee2222;
background : #dddddd;
text-decoration: none;
}

a:active
{
color : #ff0000;
background : transparent;
}

li:hover, code:hover, p:hover, h1:hover, h2:hover, h3:hover, h4:hover
{
background : #ffffcc none;
text-decoration: none;
}

h3:hover, h4:hover
{
background : #ffc none;
color: #000;
text-decoration: none;
}

/* Popup container */
.popup {
   position: relative;
   display: inline-block;
   cursor: pointer;
   text-decoration: underline;
   color: blue;
}

.popup:hover {
color : #ee2222;
background : #dddddd;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 400px;
    background-color: #eed;
    color: #000;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #CCC;
    padding: 8px 8px;
    position: absolute;
    z-index: 1;
    margin-left: 0px;

}


/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
   visibility: visible;
   -webkit-animation: fadeIn 1s;
   animation: fadeIn 1s
}
